* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E4704B;
    background: linear-gradient(to right, #E4704B 0%, #CA347E 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    font-weight: bold;
    font-family: "Asap Condensed", serif;;
}

#season {
    background: #E4704B;
    background: linear-gradient(to right, #E4704B 0%, #CA347E 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 2%;
    font-size: 5vw;
}

#when {
    text-align: center;
    margin: 10% 2% 0 2%;
    font-size: 2vw;
    margin-bottom: 3%;
}

#github-icon {
    position: fixed;
    margin: 2% 3% 2% 2%;
    right: 0;
    bottom: 0;
    max-width: 5%;
    max-height: 5%;
}

@media screen and (width <= 950px) and (orientation: portrait){
    body {
        background-position: bottom right -200px;
    }
    #content {
        height: 40%;
        width: 40%;
    }
    #season {
        font-size: 7vw;
    }
    #when {
        font-size: 4vw;
    }
}